
body {
    background-image: url(foo.jpg);
    background-size: cover;
}

button {
    background-color: navy;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 15px;
}

select {
    font-size: 15px;
    padding: 8px;
    color: navy;
    border-radius: 5px;
    border: 2px solid navy;
    margin-top: 10px;
}

.container {
    text-align: center;
    margin: 50px 130px;
    padding: 20px;
    font-size: 20px;
    background-color: #bfdee9;
    border-radius: 15px;
    border: 5px solid navy;
    font-family: Bona Nova;
}

.container h1 {
    color: darkblue;
    font-size: 46px;
    margin-bottom: 70px;
}

.container label {
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}

.name {
    font-size: 15px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid navy;
    margin-top: 10px;
}