<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/style.css">
	    <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
        <title>About Page</title>
    </head>
    <body>
        <main class="container">
            <h1>ABOUT:</h1><br>
            <ul>
                <li><a href="/about/app">The App</a></li>
                <li><a href="/about/team">The Team</a></li>
            </ul>

            <a href='/'>Home</a>
    </body>
</html>