<!DOCTYPE html>
<html>
    <head>
        <title>Recent Searches</title>
    </head>
    <body>
        <div>
            <%- search %>
            <a href="/">Home</a>
        </div>
    </body>
</html>