<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <title>Recent Searches</title>
</head>
<body>
    <main class="container">
        <h1>Your Recent Searches</h1>
        <div>
            <%- search %>
            <a href="/">Home</a>
        </div>
</body>
</html>