<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="/css/style.css">
	<meta name="viewport" content="width=device-width,initial-scale=1" />
    <link href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
	<title>Search Results</title>
</head>
<body>
	<main class="container">
		<header class="page-header">
			<h1>Search Results</h1>
		</header>

		<div id="table-wrapper">
            <%- table %>
        </div><br>
        <a href="/">Home</a>
</html>